{% macro displaySourceList(source_list) %} 
{% for source in source_list %}
<div class="col-sm-3">
  <a href="/news/{{source.id}}">{{source.name}}</a>
</div>
{% endfor %} 
{% endmacro %} 
{% macro displayArticleList(articles_list) %} 
{% for article in articles_list %}
<div class="col-md-4">
    <div class="jumbotron">
      <img src="{{article.urlToImage}}">
      <div class="panel-body">
        <h5 class="panel-title">{{article.title}}</h5>
        <p>{{article.description}}</p>
        <p><a href="{{article.url}}">Click here for full article</a></p>
      </div>
      <div class="panel-footer">
        <small>Published at: {{article.publishedAt}}</small>
      </div>
    </div>
  </div> 
{% endfor %} 
{% endmacro %}